flask
flask-cors
pandas
scikit-learn
imbalanced-learn
xgboost
shap
numpy
joblibpython
python-dotenv
utils.explainer
dotenv

# pip install flask flask-cors pandas scikit-learn imblearn xgboost shap numpy joblib python-dotenv utils.explainer dotenv